#mainContent{
	margin:0px;
	padding: 0px;
	border: 0px;
}
.chatArea{}
.chatList{}
.chatlistItem{}
.chatitemHeader{}
.chatStatus{}
.userName{}
.chatClose{}
.chatmessageDisplay{}
.chatMessageArea{}
.smileys{}
.chatMessage{}
.subimtMessage{}