#container{
    width: 365px;
   	margin: 56px;
    padding-left:80px;
    padding-bottom:60px;
    padding-right:0px;
    padding-top: 30px;
    border: 13px solid #639;
    border-style: double;
    font-style: italic;
    border-top-color: green;
    color: blue;
    border-right-color: yellow;
    border-left-color: orange; 
}
#image{
	width: 208px;
    margin: 21px;
    padding: 46px;
    border: 10px solid #F00;
    border-style: dashed;
}
