#container {
    position: relative;
    background: grey;
    margin: 10px;
}

#main_head {
    position: absolute;
    top: 18px;
    right: 101px;
    left: 0;
    height: 122px;
    width: 100%;
    background: grey;
    margin-left: 20px;
}

.img {
    float: left;
    margin-left: 10px;
    margin-top: 10px;
    border: 1px solid;
    padding: 1px;
}

.content{
	float: left;
    margin-left: 26px;
    display: inline-block;
    box-sizing: border-box;
    margin-top: 10px;
    width: 500px;
}

.content p{
	display: inline;
}

.close {
    float: right;
    margin-right: 10px;
    margin-top: 10px;
    border: 1px solid;
    padding: 1px;
}