body{
    font-family: sans-serif;
}

.container {
    background: none repeat scroll 0% 0% rgba(0, 120, 255, 0.07);
    position: relative;
    width: 100%;
    height: 100%;
}

.post_block {
    position: relative;
    margin: 10% auto;
    box-shadow: 0px 0px 12px rgba(57, 70, 78, 0.45);
    height: 297px;
    width: 598px;
}

#post_head {
    position: absolute;
    top: 16px;
    left: 13px;
    height: 60px;
    width: 342px;
}

#post_head img {
    float: left;
    height: 44px;
    width: 44px;
}

.user_name {
    color: rgba(0, 46, 243, 0.92);
    float: left;
    margin-left: 9px;
    margin-top: 5px;
    cursor: pointer;
}

.timing {
    color: gray;
    float: left;
    margin-left: -57px;
    font-size: 13px;
    margin-top: 28px;
}

.post_content {
    position: absolute;
    height: 181px;
    width: 452px;
}

.post_content p {
    font-size: 14px;
    font-style: italic;
    text-align: justify;
    margin-top: 45px;
    margin-left: 66px;
}

.post_content span a:link {
    color: black;
    text-decoration: none;
}

.post_content span {
    font-size: 11px;
}

.post_content span a:hover {
    color: rgba(0, 120, 255, 0.92);
}

.time {
    color: grey;
    margin-left: 2px;
}

.like {
    margin-left: 68px;
}

.comment {
    margin-left: 5px;
}

.share {
    margin-left: 5px;
}

.comments_body {
    position: absolute;
    top: 155px;
    left: 69px;
    height: 90px;
    width: 368px;
}

.likenum {
    color: rgba(0, 46, 243, 0.92);
}

.likenum span {
    color: black;
}

.comments {
}

.friends_comments {
    position: absolute;
    top:25px;
}

.friend_name {
    color: rgba(0, 46, 243, 0.92);
    float: left;
    margin-left: 9px;
    margin-top: 0px;
    cursor: pointer;
}

.comment_time {
    display: block;
    width: 316px;
    margin-left: 9px;
    margin-top: 5px;
    color: gray;
}

.comments img {
    float: left;
    height: 33px;
    width: 33px;
}

.comment_content {
    margin-left: 5px;
}

.comments input {
    margin-left: 3px;
    height: 35px;
    width: 321px;
}
.span_comment{
    float: left;
}