

.first-div{
	padding: 8px;
    border: 2px solid #639;
    margin: 7px;
    background: none repeat scroll 0% 0% #808080;
    width: 3%;
    position: relative;
}
.second-div{
	padding: 1px;
    border: 2px solid rgb(102, 51, 153);
    margin: 7px;
    background: white;
}
}
.third-div{
	padding: 1px;
    border: 2px solid rgb(102, 51, 153);
    margin: 7px;
    background: grey;
}	
}